.loginForm{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .header{
        margin-bottom: 20px;
        margin-top: 50px;
    }
    .inputField{
        margin-bottom: 10px;
        width: 300px;
    }

    .submitButton{
        margin: 10px 0;
    }

    @media screen and (max-width: 600px) {
        .inputField{
            width: 250px;
        }
    }
}